<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-2">
          <img src="/images/ucas_logo.png" alt="ucas_logo">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <p>中国科学院大学版权所有 © 2019<br></p>
          <p> 地址：北京市雁西湖校区 </p>
        </div>
        <div class="col-sm-offset-1  col-sm-3">
          <p><span class="glyphicon glyphicon-chevron-right">
          <%= link_to '中国科学院大学', 'http://www.gucas.ac.cn/' %>
          </span></p>

          <p><span class="glyphicon glyphicon-chevron-right">
          <%= link_to '中国科学院大学图书馆', 'http://lib.ucas.ac.cn/home' %>
          </span></p>
        </div>
      </div>

    </div>
  </div>
</footer>

